.upc {
  width: 350px;
  margin: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gradiant {
  height: 125px;
}

.profiledown {
  text-align: center;
}

.profiledown img {
  height: 13rem;
  border-radius: 50%;
  margin-top: -75px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

@media (max-width: 600px) {
  .upc {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
  }

  .profiledown img {
    height: 8rem;
    margin-top: -40px;
  }
}

@media (max-width: 600px) {
  .alldetails {
    padding: 10px;
  }
}

.main {
  text-align: center;
  margin-bottom: 20px;
}